@model QuantumLearn.ViewModels.QuestionAnswerViewModel
@*model brings in a list of questions and a list of answers for Quiz 1*@

@{
    ViewData["Title"] = "Lesson 1 Quiz";
}

<div class="mainDiv">
    <h3>Lesson 1 Quiz</h3><br />
    
    @if (Model != null)
    {
        <form asp-controller="Quiz" asp-action="SubmitQuiz" method="post">

            <h5 class="text-primary">FYI - PULLING FROM BACKEND/DATABASE</h5>
            <p class ="text-primary">All Quiz 1 frontend and backend coding is finalized; need to copy/paste it to all other quizzes</p>

            @foreach (var ques in Model.QuestionList.Where(ques => ques.QuizNum == 1))
            {
                <p class="fw-bold m-0">@ques.Text</p>
                @foreach (var ans in Model.AnswerList.Where(ans => ans.QuestionId == ques.Id))
                {
                    <input type="radio" id="@("ansID" + ans.Id)" name="@("L1Q" + ques.Id)" value="@ans.Id">
                    <label for="@("ansID" + ans.Id)">@ans.Text</label><br>
                }
                <br />
            }

            @* id="" and for="" go together so the user is able to click on either the radio circle or the answer text to select the answer *@
            @* name="" and value="" both go the backend controller *@
            @* name="" also groups the radio buttons together so the user can only select one answer for each question*@
            @* "required" only needs to be in one of the group's answer inputs and it will apply to the whole group*@

            @*hidden so the user can't see; sending which quiz this is for when submitting the form to the backend*@
            @*<label asp-for="QuizNum"></label>  MAYBE DONT NEED A LABEL FOR HIDDEN INPUT*@
            <input name="formQuizNum" type="hidden" value="@Model.QuestionList.First().QuizNum" />

            <input class="btn btn-warning" type="submit" value="Submit Answers"/>
            <hr>
            <a type="button" class="btn btn-success" asp-controller="Lesson" asp-action="Num2">Next Lesson</a>
            <br /><br />
            <a type="button" class="btn btn-primary" asp-controller="Lesson" asp-action="Index">Lessons Homepage</a>
        </form>
    }
    else
    {
        <p>An error has occurred. No questions found.</p>
    }
    <br /><br />
</div>
