@model QuantumLearn.ViewModels.QuestionAnswerViewModel

@{
    ViewData["Title"] = "Lesson 1 Quiz";
}

<div class="mainDiv">
    <h3>Lesson 1 Quiz</h3><br />
    
    @if (Model != null)
    {
        <form asp-action="" method="post">  @*NOT POSTING ANYWHERE YET - need to setup action*@

            <h5>PULLING FROM BACKEND/DATABASE:</h5><br>

            @Model.QuestionList.FirstOrDefault(ques => ques.Id == 1).Text <br>
            <input type="radio" id="L1Q1-A" name="L1Q1" value="1">
            <label for="L1Q1-A">@Model.AnswerList.FirstOrDefault(ans => ans.Id == 1).Text</label><br>
            <input type="radio" id="L1Q1-B" name="L1Q1" value="2">
            <label for="L1Q1-B">@Model.AnswerList.FirstOrDefault(ans => ans.Id == 2).Text</label><br>
            <input type="radio" id="L1Q1-C" name="L1Q1" value="3">
            <label for="L1Q1-C">@Model.AnswerList.FirstOrDefault(ans => ans.Id == 3).Text</label>
            <br /><br />

            @Model.QuestionList.FirstOrDefault(ques => ques.Id == 2).Text <br>
            <input type="radio" id="L1Q2-A" name="L1Q2" value="1">
            <label for="L1Q2-A">@Model.AnswerList.FirstOrDefault(ans => ans.Id == 4).Text</label><br>
            <input type="radio" id="L1Q2-B" name="L1Q2" value="2">
            <label for="L1Q2-B">@Model.AnswerList.FirstOrDefault(ans => ans.Id == 5).Text</label><br>
            <input type="radio" id="L1Q2-C" name="L1Q2" value="3">
            <label for="L1Q2-C">@Model.AnswerList.FirstOrDefault(ans => ans.Id == 6).Text</label>
            <br /><br />
            
            <input class="btn btn-warning" type="submit" value="Submit Answers" />  (this button doesn't work yet)
            <br /><br>
            <a type="button" class="btn btn-success" asp-controller="Lesson" asp-action="Num2">Next Lesson</a>
            <br /><br />
            <a type="button" class="btn btn-primary" asp-controller="Lesson" asp-action="Index">Lessons Homepage</a>
        </form>
    }
    else
    {
        <p>An error has occurred. No questions found.</p>
    }
    <br /><br />
</div>
