@model QuantumLearn.ViewModels.QuestionAnswerViewModel
@*model brings in 3 lists for Quiz 1*@

@{
    ViewData["Title"] = "Quiz Results";
}

@*variables that will be displayed in the mainDiv*@
@{
    QuizResult aResultRow = Model.QuizResultList.FirstOrDefault();
    int currentQuizNum = aResultRow.QuizNum;
    int userCorrectNum = 0;
    int totalQuesNum = Model.QuestionList.Count;
}

<div class="mainDiv">
    <h1>Quiz @currentQuizNum Results</h1><hr />
    @*<h3 class="text-primary">You answered @ViewBag.CorrectAnswers out of @ViewBag.TotalQuestions questions correctly.</h3><hr />*@
    @foreach (var result in Model.QuizResultList)
    {
        @*for the question*@
        var currentResultQuesID = result.QuestionId;
        var aQuestionRow = Model.QuestionList.FirstOrDefault(ques => ques.Id == currentResultQuesID);

        @*for the correct answer*@
        var correctAnswerRow = Model.AnswerList.FirstOrDefault(ans => ans.QuestionId == currentResultQuesID && ans.IsCorrect == true);

        @*for the user's answer*@
        var currentResultAnsID = result.AnswerId;
        var anAnswerRow = Model.AnswerList.FirstOrDefault(ans => ans.Id == currentResultAnsID);
        if (currentResultAnsID == correctAnswerRow.Id)
        {
            userCorrectNum++;
        }
        
        @*display the question*@
        <p class="fw-bold m-0">@aQuestionRow.Text</p>

        @*display the correct answer*@
        <p class="m-0">Correct answer: @correctAnswerRow.Text</p>

        @*display the user's answer*@
        if (anAnswerRow.IsCorrect == true)
        {
            <p class="text-success">Your answer: @anAnswerRow.Text</p>
        }
        else
        {
            <p class="text-danger">Your answer: @anAnswerRow.Text</p>
        }
    }

    @*DOESN'T DISPLAY CORRECTLY UNTIL FIX DB TO OVER RIDE ANSWERS IF USER IS RETAKING TEST*@
    <h3 class="text-primary">You answered @userCorrectNum out of @totalQuesNum questions correctly.</h3>
</div>
