@* THIS VIEW IS FOR USERS THAT ARE NOT LOGGED-IN *@

@model QuantumLearn.ViewModels.QuestionAnswerViewModel
@*the model brings in 2 lists and the quiz number*@

@*variables for values that will be displayed in the mainDiv*@
@{
    List<QuizResult> resultsList = ViewBag.ResultsList;
    //QuizResult aResultRow = resultsList.FirstOrDefault();  // this is just to get currentQuizNum
    //int currentQuizNum = aResultRow.QuizNum;
    int quizNum = Model.QuizNum;
    int userCorrectNum = 0;
    int totalQuesNum = Model.QuestionList.Count;
}

@{
    ViewData["Title"] = $"Quiz {quizNum} Results";
}

<div class="mainDiv">
    <h1>Quiz @resultsList.First().QuizNum Results</h1><hr />
    @foreach (var result in resultsList)
    {
        @*for the question*@
        int currentResultQuesID = result.QuestionId;
        Question aQuestionRow = Model.QuestionList.FirstOrDefault(ques => ques.Id == currentResultQuesID);

        @*for the correct answer*@
        Answer correctAnswerRow = Model.AnswerList.FirstOrDefault(ans => ans.QuestionId == currentResultQuesID && ans.IsCorrect == true);

        @*for the user's answer*@
        int currentResultAnsID = result.AnswerId;
        Answer anAnswerRow = Model.AnswerList.FirstOrDefault(ans => ans.Id == currentResultAnsID);
        if (currentResultAnsID == correctAnswerRow.Id)
        {
            userCorrectNum++;
        }

        @*display the question*@
        <p class="fw-bold m-0">@aQuestionRow.Text</p>

        @*display the correct answer*@
        <p class="m-0">Correct answer: @correctAnswerRow.Text</p>

        @*display the user's answer*@
        if (anAnswerRow.IsCorrect == true)
        {
            <p class="text-success">Your answer: @anAnswerRow.Text</p>
        }
        else
        {
            <p class="text-danger">Your answer: @anAnswerRow.Text</p>
        }
    }

    <h3 class="text-primary">You answered @userCorrectNum out of @totalQuesNum questions correctly.</h3>
    <hr>
    @{
        int nextLessonNum = quizNum;
        nextLessonNum++;
        string nextLesson = $"Num{nextLessonNum}";
    }
    <a type="button" class="btn btn-success" asp-controller="Lesson" asp-action="@nextLesson">Next Lesson</a>
    <br /><br />
    <a type="button" class="btn btn-primary" asp-controller="Lesson" asp-action="Index">Lessons Homepage</a>
</div>
